.event-list {
    margin-top: 20px;
  }
  
  .event-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .event-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .event-list li span {
    flex: 1;
    text-align: center;
  }
  
  .event-list button {
    padding: 5px 10px;
    background-color: #61dafb;
    border: none;
    cursor: pointer;
  }
  
  .event-list button:hover {
    background-color: #21a1f1;
  }