.event-list {
  margin-top: 20px;
}

.event-list ul {
  list-style-type: none;
  padding: 0;
}

.event-list li,
.event-list-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.event-list-header {
  font-weight: bold;
  background-color: #e0e0e0;
}

.event-list li span,
.event-list-header span {
  text-align: center;
}

.event-list li .button-group {
  display: flex;
  flex-direction: column;
}

.event-list li button {
  margin: 5px 0;
}

.event-list button {
  padding: 5px 10px;
  background-color: #61dafb;
  border: none;
  cursor: pointer;
}

.event-list button:hover {
  background-color: #21a1f1;
}